DERIBIT_DATABASE_URL=postgresql+asyncpg://deribit:deribit@localhost:5432/deribit
DERIBIT_DATABASE_URL_SYNC=postgresql://deribit:deribit@localhost:5432/deribit
DERIBIT_DERIBIT_API_URL=https://test.deribit.com/api/v2
DERIBIT_FETCH_TICKERS=["btc_usd","eth_usd"]
